/*
1, canvas是inline-block元素
2, canvas宽高是等比例缩放的，先不要在css定义宽高
3, display: block 没有意义，是一个尝试
*/

.class-canvas-board {
    background: white;
    display: block;
}

/*
canvas 绘图没有坐标偏移
*/

body {
    margin: 0;
}

.tools {
    position: fixed;
    top: 20px;
    left: 20px;
}

.tools svg {
    width: 1.5em;
    height: 1.5em;
}

.tools svg.active {
    fill: red;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
